{
    "presets": [
      [
        "@babel/preset-env",{ 
          "modules": false, "debug": true,
          "targets": {
              "browsers": ["cover 99%"]
          }
        }
      ],  
    
      "@babel/preset-react"
    ],
    "plugins": [
      "react-hot-loader/babel",
      "@babel/plugin-proposal-object-rest-spread"
    ]
  }